*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.slider{
	overflow: hidden;
	height: 380px;
	float: left;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width: 100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}
	5%{
			left: 0%;
	}

	20%{
		left: -100%;
	}

	40%{
		left: -200%;
	}

	60%{
		left: -300%;
	}

	80%{
		left: -400%;
	}

	100%{
		left: 0%;
	}




}

.title{

	width: 100%;
	background-color: black;

	height: auto;
	float: left;

}





*{
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.gacolumn {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.garow:after {
    content: "";
    display: table;
    clear: both;
}
